/*.releaseBackup
/.classpath
/.externalToolBuilders
/.idea/
/.metadata
/.project
/.settings
/jadira.parent.iml
bindings/.classpath
bindings/.project
bindings/.settings
bindings/bindings.iml
bindings/target
cdt/.classpath
cdt/.externalToolBuilders
cdt/.project
cdt/.settings
cdt/cdt.iml
cdt/target
cloning/target
depmgmt/.project
depmgmt/.settings
depmgmt/jadira.depmgmt.iml
depmgmt/target
refdata/.classpath
refdata/.project
refdata/.settings
refdata/target
/release.properties
scanner/.classpath
scanner/.project
scanner/.settings
scanner/scanner.iml
scanner/target
scanner/test-output
/target
usertype.core/*.checkstyle
usertype.core/*.releaseBackup
usertype.core/.classpath
usertype.core/.externalToolBuilders
usertype.core/.project
usertype.core/.settings
usertype.core/src/main/resources/META-INF/persistence.xml
usertype.core/target
usertype.core/usertype.core.iml
usertype.extended/*.checkstyle
usertype.extended/*.releaseBackup
usertype.extended/.classpath
usertype.extended/.externalToolBuilders
usertype.extended/.project
usertype.extended/.settings
usertype.extended/src/main/resources/META-INF/persistence.xml
usertype.extended/target
usertype.extended/usertype.extended.iml
usertype.spi/*.checkstyle
usertype.spi/*.releaseBackup
usertype.spi/.classpath
usertype.spi/.externalToolBuilders
usertype.spi/.project
usertype.spi/.settings
usertype.spi/runner
usertype.spi/target
usertype.spi/usertype.spi.iml
/quant/.classpath
/quant/.project
/quant/.settings
/quant/quant.iml
/quant/target
/maven/.project
/maven/.settings
/maven/maven.plugins.iml
/maven/target
/maven/fmpp-maven-plugin/.classpath
/maven/fmpp-maven-plugin/.project
/maven/fmpp-maven-plugin/.settings
/maven/fmpp-maven-plugin/fmpp-maven-plugin.iml
/maven/fmpp-maven-plugin/target
/cloning/.classpath
/cloning/.gitignore
/cloning/.project
/cloning/.settings
/cloning/cloning.iml
/cloning/dependency-reduced-pom.xml
/usertype.spi-hibernate36/.classpath
/usertype.spi-hibernate36/.project
/usertype.spi-hibernate36/.externalToolBuilders
/usertype.spi-hibernate36/.settings
/usertype.spi-hibernate36/maven-eclipse.xml
/usertype.spi-hibernate36/target
/usertype.core-hibernate36/.checkstyle
/usertype.core-hibernate36/.classpath
/usertype.core-hibernate36/.project
/usertype.core-hibernate36/maven-eclipse.xml
/usertype.core-hibernate36/.externalToolBuilders
/usertype.core-hibernate36/.settings
/usertype.core-hibernate36/target
/usertype.core/src/main/java/org/jadira/usertype/corejava/testmodel/*_.java
/usertype.core/src/main/java/org/jadira/usertype/country/testmodel/ISOCountryCodeHolder_.java
/usertype.core/src/main/java/org/jadira/usertype/dateandtime/joda/testmodel/*_.java
/usertype.core/src/main/java/org/jadira/usertype/dateandtime/legacyjdk/testmodel/*_.java
/usertype.core/src/main/java/org/jadira/usertype/moneyandcurrency/joda/testmodel/*_.java
/usertype.core/src/main/java/org/jadira/usertype/moneyandcurrency/legacyjdk/testmodel/*_.java
/usertype.core/src/main/java/org/jadira/usertype/phonenumber/testmodel/*_.java
/lang/.classpath
/lang/.gitignore
/lang/.project
/lang/.settings
/jms/.classpath
/jms/.gitignore
/jms/.project
/jms/.settings
/jms/target
/lang/target
/**/*.iml
/maven/fmpp-maven-plugin/.factorypath
