* text=auto !eol
/LICENSE.txt -text
/README.txt -text
/RELEASE-NOTES.txt -text
/checkstyle.xml -text
/maven-eclipse.xml -text
/pom.xml -text
src/changes/changes.xml -text
src/main/assembly/bin.xml -text
src/main/assembly/src.xml -text
src/main/assembly/userguide.xml -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentDateMidnight.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentDateMidnightAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentDateTime.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentDateTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentDateTimeZoneAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentDurationAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentInstantAsMillisLong.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentInstantAsNanosBigInteger.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentInstantAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentInstantAsTimestamp.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentInterval.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalDate.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalDateAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalDateTime.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalDateTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalTime.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalTimeAsMillisInteger.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalTimeAsNanosLong.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentLocalTimeAsTimestamp.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentPeriodAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentTimeOfDay.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentTimeOfDayAsMillisInteger.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentTimeOfDayAsNanosLong.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentTimeOfDayAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentTimeOfDayAsTimestamp.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentYearMonthDay.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentYearMonthDayAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/PersistentYears.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/BigIntegerColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/DateColumnLocalDateMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/DateColumnYearMonthDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/IntegerColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/IntegerColumnTimeOfDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/IntegerColumnYearsMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/LongColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/LongColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/LongColumnTimeOfDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnDateTimeZoneMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnDurationMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnLocalDateMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnLocalDateTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnPeriodMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnTimeOfDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnYearMonthDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/StringColumnYearsMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/TimeColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/TimeColumnTimeOfDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/TimestampColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/TimestampColumnLocalDateTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/TimestampColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/joda/columnmapper/TimestampColumnTimeOfDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentDurationAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentInstantAsMillisLong.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentInstantAsNanosBigInteger.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentInstantAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentInstantAsTimestamp.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalDate.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalDateAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalDateTime.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalDateTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalTime.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalTimeAsMillisInteger.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalTimeAsNanosLong.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentLocalTimeAsTimestamp.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentMonthDayAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetDate.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetDateAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetDateTime.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetDateTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetTime.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetTimeAsLong.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentOffsetTimeAsTimestamp.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentPeriodAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentTimeZoneAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentYear.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentYearMonthAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentZoneOffsetAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentZonedDateTime.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/PersistentZonedDateTimeAsString.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/BigIntegerColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/DateColumnLocalDateMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/IntegerColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/IntegerColumnYearMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/LongColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/LongColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnDurationMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnLocalDateMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnLocalDateTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnMonthDayMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnPeriodMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnTimeZoneMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnYearMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnYearMonthMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/StringColumnZoneOffsetMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/TimeColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/TimeColumnOffsetTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/TimestampColumnInstantMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/TimestampColumnLocalDateTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/jsr310/columnmapper/TimestampColumnLocalTimeMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/reflectionutils/TypeHelper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractBigIntegerColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractDateColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractIntegerColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractLongColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractMultiColumnUserType.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractStringColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractTimeColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractTimestampColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/AbstractUserType.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/spi/ColumnMapper.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/temporaltype/AbstractLocationSafeUserType.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/temporaltype/LocationSafeDateType.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/temporaltype/LocationSafeTimeType.java -text
src/main/java/org/jadira/usertype/dateandtime/shared/temporaltype/LocationSafeTimestampType.java -text
src/site/site.xml -text
src/site/xdoc/index.xml -text
src/site/xdoc/licensecover.xml -text
src/site/xdoc/tasks.xml -text
src/site/xdoc/userguide.xml -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentDurationAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentInstantAsMillisLong.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentInstantAsNanosBigInteger.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentInstantAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentInstantAsTimestamp.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalDate.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalDateAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalDateTime.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalDateTimeAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalTime.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalTimeAsMillisInteger.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalTimeAsNanosLong.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalTimeAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentLocalTimeAsTimestamp.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentPeriodAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentTimeOfDay.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentTimeOfDayAsMillisInteger.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentTimeOfDayAsNanosLong.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentTimeOfDayAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentTimeOfDayAsTimestamp.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentYearMonthDay.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentYearMonthDayAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/TestPersistentYears.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaDurationAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaInstantAsMillisLongHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaInstantAsNanosBigIntegerHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaInstantAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaInstantAsTimestampHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalDateAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalDateHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalDateTimeAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalDateTimeHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalTimeAsMillisIntegerHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalTimeAsNanosLongHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalTimeAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalTimeAsTimestampHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaLocalTimeHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/JodaPeriodAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/TimeOfDayAsMillisIntegerHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/TimeOfDayAsNanosLongHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/TimeOfDayAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/TimeOfDayAsTimestampHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/TimeOfDayHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/YearMonthDayAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/YearMonthDayHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/joda/testmodel/YearsHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentDurationAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentInstantAsMillisLong.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentInstantAsNanosBigInteger.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentInstantAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentInstantAsTimestamp.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalDate.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalDateAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalDateTime.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalDateTimeAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalTime.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalTimeAsMillisInteger.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalTimeAsNanosLong.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalTimeAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentLocalTimeAsTimestamp.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentMonthDayAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentOffsetDate.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentOffsetDateTime.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentOffsetDateTimeAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentOffsetTime.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentOffsetTimeAsLong.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentOffsetTimeAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentOffsetTimeAsTimestamp.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentPeriodAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentTimeZoneAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentYear.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentYearMonthAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentZoneOffsetAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentZonedDateTime.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/TestPersistentZonedDateTimeAsString.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/DurationAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/InstantAsMillisLongHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/InstantAsNanosBigIntegerHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/InstantAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/InstantAsTimestampHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalDateAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalDateHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalDateTimeAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalDateTimeHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalTimeAsMillisIntegerHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalTimeAsNanosLongHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalTimeAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalTimeAsTimestampHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/LocalTimeHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/MonthDayAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/OffsetDateHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/OffsetDateTimeAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/OffsetDateTimeHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/OffsetTimeAsLongHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/OffsetTimeAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/OffsetTimeAsTimestampHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/OffsetTimeHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/PeriodAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/TimeZoneAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/YearHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/YearMonthAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/ZoneOffsetAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/ZonedDateTimeAsStringHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/jsr310/testmodel/ZonedDateTimeHolder.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/dbunit/DatabaseCapable.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/dbunit/RuntimeDatabaseUnitException.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/DurationJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/InstantAsBigIntJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/InstantJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/LocalDateJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/LocalDateTimeJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/LocalTimeAsStringJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/LocalTimeAsTimeJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/LocalTimeExactJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/PeriodJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/PeriodJoda2.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/TimeOfDayAsTimeJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/TimeOfDayExactJoda.java -text
src/test/java/org/jadira/usertype/dateandtime/shared/testmodel/jodatime/YearMonthDayJoda.java -text
src/test/resources/META-INF/persistence.xml -text
src/test/resources/expected/.dbunit-comparison-files -text
src/test/resources/expected/durationAsString.xml -text
src/test/resources/expected/instantAsMillisLong.xml -text
src/test/resources/expected/instantAsNanosBigInteger.xml -text
src/test/resources/expected/instantAsString.xml -text
src/test/resources/expected/instantAsTimestamp.xml -text
src/test/resources/expected/localDate.xml -text
src/test/resources/expected/localDateAsString.xml -text
src/test/resources/expected/localDateTime.xml -text
src/test/resources/expected/localDateTimeAsString.xml -text
src/test/resources/expected/localTime.xml -text
src/test/resources/expected/localTimeAsMillisInteger.xml -text
src/test/resources/expected/localTimeAsNanosLong.xml -text
src/test/resources/expected/localTimeAsString.xml -text
src/test/resources/expected/localTimeAsTimestamp.xml -text
src/test/resources/expected/monthDay.xml -text
src/test/resources/expected/offsetDate.xml -text
src/test/resources/expected/offsetDateTime.xml -text
src/test/resources/expected/offsetDateTimeAsString.xml -text
src/test/resources/expected/offsetTime.xml -text
src/test/resources/expected/offsetTimeAsLong.xml -text
src/test/resources/expected/offsetTimeAsString.xml -text
src/test/resources/expected/offsetTimeAsTimestamp.xml -text
src/test/resources/expected/periodAsString.xml -text
src/test/resources/expected/periodAsString2.xml -text
src/test/resources/expected/timeZoneAsString.xml -text
src/test/resources/expected/year.xml -text
src/test/resources/expected/yearMonthAsString.xml -text
src/test/resources/expected/zonedDateTime.xml -text
src/test/resources/expected/zonedDateTimeAsString.xml -text
src/test/resources/expected/zonedOffsetAsString.xml -text
src/test/resources/log4j.properties -text
