/*.releaseBackup
/.classpath
/.externalToolBuilders
/.metadata
/.project
/.settings
/release.properties
/target
usertype.core/*.checkstyle
usertype.core/*.releaseBackup
usertype.core/.classpath
usertype.core/.externalToolBuilders
usertype.core/.project
usertype.core/.settings
usertype.core/target
usertype.extended/*.checkstyle
usertype.extended/*.releaseBackup
usertype.extended/.classpath
usertype.extended/.externalToolBuilders
usertype.extended/.project
usertype.extended/.settings
usertype.extended/target
usertype.spi/*.checkstyle
usertype.spi/*.releaseBackup
usertype.spi/.classpath
usertype.spi/.externalToolBuilders
usertype.spi/.project
usertype.spi/.settings
usertype.spi/runner
usertype.spi/target
