/*.releaseBackup
/.classpath
/.externalToolBuilders
/.project
/.settings
/release.properties
/target
usertype.jodatime/*.releaseBackup
usertype.jodatime/.classpath
usertype.jodatime/.externalToolBuilders
usertype.jodatime/.project
usertype.jodatime/.settings
usertype.jodatime/target
usertype.jsr310/*.releaseBackup
usertype.jsr310/.classpath
usertype.jsr310/.externalToolBuilders
usertype.jsr310/.project
usertype.jsr310/.settings
usertype.jsr310/target
usertype.spi/*.releaseBackup
usertype.spi/.classpath
usertype.spi/.externalToolBuilders
usertype.spi/.project
usertype.spi/.settings
usertype.spi/runner
usertype.spi/target
